- title @calendar.name || 'Calendar'
- breadcrumbs do
  = breadcrumb 'Calendars', calendars_path

.container
  .pull-right
    = link_to 'Edit', edit_calendar_path(@calendar), class: 'btn btn-default'

  = calendar_event_calendar(@calendar.timezone, @appointments + @blocks) do |date, events|
    %ul.list-unstyled
      - events.each do |event|
        - name = event.name.truncate(30)
        - if event.is_a?(Appt::Appointment)
          %li= link_to name, calendar_appointment_path(event.calendar, event)
        - elsif event.is_a?(Appt::Block)
          %li.bg-danger= link_to name, calendar_block_path(event.calendar, event)


