- title @calendar.title
- breadcrumbs do
  = breadcrumb 'Calendars', calendars_path

.container
  .pull-right
    = link_to 'Edit', edit_calendar_path(@calendar), class: 'btn btn-default'
  .clearfix

  = calendar_event_calendar(@calendar.timezone, @appointments + @blocks) do |date, events|
    %h3
      = date.day

      - if date >= @start_date && date <= @start_date.at_end_of_month && date >= @calendar.min_schedule_time.to_date
        - appointment_types = @calendar.appointment_types.select{ |at| @calendar.available_shifts(at, date).any? }
        - if appointment_types.size > 0
          .btn-group
            %button.btn.btn-sm.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown' }
              .glyphicon.glyphicon-plus
              %span.caret
            %ul.dropdown-menu
              - appointment_types.each do |appointment_type|
                - if @calendar.available_shifts(appointment_type, date).any?
                  %li= link_to appointment_type.name, new_calendar_appointment_path(@calendar, appointment_type_id: appointment_type.id, day: date)

    %ul.list-unstyled
      - events.each do |event|
        - name = event.title.truncate(30)
        - if event.is_a?(Appt::Appointment)
          %li= link_to name, calendar_appointment_path(event.calendar, event)
        - elsif event.is_a?(Appt::Block)
          %li.bg-danger= link_to name, calendar_block_path(event.calendar, event)


