= navbar do
  = navbar_header brand: 'Appt', brand_link: root_path
  = navbar_collapse do
    = navbar_group do
      = navbar_item Appt::Calendar.model_name.human(count: 2), calendars_path
      = navbar_item 'External', external_calendars_path
